/*written by liyaxuan*/
body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select{padding:0;margin:0;font-family: Arial;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
body{background: white url(../design/body.png)
repeat-x;}
#top {width:960px;height:30px;margin:0  auto;}
.top_menu{float:left;}
.top_menu li {float:left;background:
        url(../design/top_xtb.png) no-repeat
    right 14px;font-size:13px;line-height: 30px;padding-right:18px;
margin-right: 15px;}
.top_menu a {color: #c0c0c0;}
.top_menu a:hover {
    color: #fff;}
.top_menu .no_dot {background: none;padding: 0;margin:0;}
.top_bar {position: relative;left: 180px;}
.top_bar li{float:left;height: 30px;color: #fff;font-weight: bold;
    font-size: 13px;line-height: 30px;padding:0 38px 0;}
.top_bar .help{background: url("../design/top_xtb.png") no-repeat 0 -52px;}
/*图片位置和电话号码的位置*/
/*如何解决缺少字体的问题*/
.top_bar .phone{background: url(../design/top_xtb.png) no-repeat 6px -20px;}
.top_bar .help a {color:#fff;}
.top_bar .phone a {color:#fff;}
.top_bar .space_1{
    padding:0 0 0;}
.top_bar .space_2{
    padding:0 14px 0;}
#header{width:960px;
    height:97px;margin:0 auto;position: relative;background: url("../design/yun.png")no-repeat }
#shopping{width:260px;height:96px;background: url("../design/bag_m.png")no-repeat;position:relative;}
#shopping p {color:#f7f7f7;font-size:20px;
    font-family: Arial;
    padding:30px 0 0 84px;}
#shopping a{display:block;
    color:#ffc200 ; width:114px;
    height: 23px;background: url("../design/bag_m.png")no-repeat 0 -97px;position:absolute;top:63px;left:104px;font-size:15px;font-family: Arial;text-decoration:none;font-weight: bold;
text-align: center;line-height: 23px;}
#shopping a:hover{color: cornsilk}
#header h1{width:229px;position:absolute;top:0;left:50%;
    margin-left: -114px;}
#header .search{position:absolute;top:32px;right:0;}
.search{width:293px; height:32px;background: url("../design/daoh.png")no-repeat;}
.search .text{position:absolute;top:0;left:20px;width:230px;height:32px;background:none;border:none;
font-size:13px;color:#666;outline: none;}
.search .btn{position:absolute;top:0;right:0;
    width:43px;height:33px;background: none;border-style: none;}
/*切图背景和当前状态
strong标签到底有什么作用
span的圆角*/
#nav{width: 960px;height: 36px;padding-top:8px;margin:0 auto;}
#nav li{float:left;
    height: 28px;margin-right: 2px;}
#nav a{float:left;height: 28px;background: url("../design/non_act.png")repeat-x;text-decoration: none;color:#fff;font-size:16px;font-family:Arial;
line-height: 28px;}
#nav strong{float:left;height: 28px;font-weight: normal;background: #b20e00}
#nav span {float:left;height: 28px;background:url("../design/non_act.png")repeat-x;
padding:0 15px;}
#nav a:hover {background:bisque /*url("../design/act.png")repeat-x*/ ;}
#nav a:hover span{background:url("../design/act.png")repeat-x;}
#nav a:hover strong {background:black /*url("../design/act.png")no-repeat*/;}


#nav .active a{}
#nav .active strong{}
#nav.active span{}

#content{width: 1000px ;margin:24px auto 0;background: url("../design/content.png")repeat-y -1000px 0;}
#content_top{width: 1000px;background: url("../design/content.png")no-repeat;}
#content_bottom{width: 1000px;background: url("../design/content.png")no-repeat -2000px bottom}

/*黄色的字没有显示出来
相对定位和绝对*/
#ad{width:940px ;height:300px;position: relative;top:10px;margin: 0 auto;}
#ad ul,#ad li,#ad p ,#ad h2{position: absolute;}
#ad ul{top:0;left: 0;z-index: 1;}
#ad li{top:0;left: 0;}
#ad h2{left: 0;bottom: 14px;width: 268px;text-align: center;
font-size: 25px;color:#ffc600;z-index: 3;}
#ad p{left:268px;bottom: 10px;font-size:13px;z-index: 3;
line-height: 16px;width: 630px;color: #fcc}
#ad .bg{width: 940px;height: 52px;background: #000;filter:alpha(opacity:80);opacity: 0.8;position: absolute;bottom: 0;
left: 0;z-index: 2;}

#main{width: 942px;margin: 0 auto;padding-top:40px;}
#side{width: 210px;float: left;}
#wrap{width: 706px;float: right;}
.clear{zoom:1;}
.clear:after{content:'';display:block;clear:both;}
/*采用三层嵌套设置圆角*/
.module_menu{padding-bottom: 12px;}
.module_menu h2{height:29px;background:url("../design/red_h.png")no-repeat;
    font-size:15px;color: white;text-align: center;
line-height:28px;margin-bottom: 1px;}
/*
.module_menu h2 strong{display:block;height:29px;background: url("../design/module_menu_bg.png")no-repeat left 0;}
.module_menu h2 span{display:block;height:29px;
    background:url("../design/module_menu_bg.png")no-repeat
    right -29px;}
*/

.list{background: url("../design/list_bg.png")repeat-y;padding: 0 8px;}
.list ul{background: url("../design/list_bg.png")no-repeat -210px bottom;padding:18px 0px 0;}
.list li{}
.list a{display: block;height:27px;line-height:27px;border-bottom:1px solid #fff;color:#434343;
text-decoration: none;font-weight: bold;font-size:12px;padding-left:32px; }
.list a:hover{border-bottom:1px solid ;color:#b20e00;background:yellow;}

.module_join{width:210px;background: url("../design/list_bg.png")repeat-y -630px 0; }
.module_join_t{background: url("../design/list_bg.png")no-repeat -420px 0;}
.module_join_b{background: url("../design/list_bg.png")no-repeat -840px bottom;}


.join_form{width: 180px;margin:0 auto 12px;}
.join_form p{font-size:15px;color:#666;line-height:18px;padding: 12px 0px;}
.join_form .text{width: 175px;height: 25px;line-height:25px;background: #fff;border-top: 1px solid #9c9c9c;border-right:1px solid #9c9c9c;
border-left: 1px solid #c0c0c0;margin-bottom: 6px;}
.join_form .btn{display:block;width:88px;height:25px;border:none;
font-size:15px;color:#fff;font-weight:bold; background: url("../design/rbtn.png")no-repeat;margin: 0 auto}

.join_list{width:192px;
    margin:0 auto; background: url("../design/icon_left.png")no-repeat 10px 5px;}/**暂时没有确定怎么切图*/
.join_list li{border-top:1px solid #fff;padding-left:62px;color:#434343;font-size: 13px; }
.space1{height:38px ;line-height: 45px;}
.space2{height: 48px;
    padding-top: 5px;line-height: 18px;}
.space3{
    height: 45px;padding-top: 5px;line-height: 18px;}

#payment{margin: 33px 0 0 18px;}

/* 没有呈现出变色*/
.sort{height: 20px;}
.sort dl{float:left;}
.sort dt{float:left;color:#7474;font-weight: bold;font-size: 12px;padding-right: 2px;}
.sort dd{
    float:left;position:relative;width: 109px;height: 19px;margin-right: 12px;}
.sort h2{width: 107px;height: 17px;border:1px solid #ccc; font-size:12px;color:#7474;font-weight: normal;
text-indent: 5px;}
.sort a{position:absolute;top:0;left:90px;background: url("../design/bbt.png")0 0; width: 19px;height: 19px;z-index:2;}
.sort a:hover{background: url("../design/bbt.png")-19px 0;}
.sort ul{width:108px;border:1px solid #ccc;background: #fff; position:absolute;top:19px ;left:0;z-index: 1;
display:none;}
.sort li{font-size:12px;line-height: 20px;text-indent:5px;cursor: pointer;}
.sort .active{background: cadetblue;color:#fff;}
.sort p{float:right;color:#7474;font-size:12px;}
.sort p strong{color:#999;}
.sort p span{padding: 0 5px;}
.sort p span.color_style{color:#b20e00;}



.pic_list{width: 706px;overflow: hidden;}
.pic_list h2,#scroll_list h2{font-size:18px;color:#666;height: 56px;line-height: 59px;overflow: hidden;}
.pic_list ul{width: 736px;}
.pic_list li{float: left;width:182px;height:200px;}
.pic_list a{display:block; width:154px;height:114px;border:1px solid #c6c6c6;margin-bottom: 6px;}/*第三幅图裁剪的不是很好*/
.pic_list a:hover{border:1px solid #663;}
.pic_list h3{color:#666;font-size:15px;font-weight: bold;}
.pic_list p{color:#333;font-size:3px;line-height: 16px;}
.pic_list span{color:#b20e00;}


.page{text-align: center;border-bottom: 1px solid #cdcdc8;padding-bottom: 5px;}
.page a{
    display: inline-block;padding: 0 10px; height:20px;color:#b20e00;text-decoration: none;font-size:12px;
line-height: 20px;font-family: 宋体；}
.page a:hover{color:#fff;background:#b20e00;}
.page .a:active{}/*宋体改变了符号样式*/
/*白色边框始终不太对*/
.scroll_wrap{height:197px;background: url("../design/white_k.png")repeat-x 0 -483px;}
.scroll_wrap_l{height:197px;background: url("../design/white_k.png")no-repeat left  -87px;}
.scroll_wrap_r{height:197px;background: url("../design/white_k.png")no-repeat right -284px;position:relative;}

.prev,.next{width: 35px;height: 43px;position: absolute;top:70px;}
.prev{left:0;background: url("../design/white_k.png")no-repeat;}
.next{right:0;background: url("../design/white_k.png")no-repeat 0 -42px;}
/*文字和图片的位置错位*/
.list_wrap{width: 615px;margin: 0 auto ;padding: 32px;}
.list_wrap ul{height: 150px;}
.list_wrap li{width: 205px;float:left;}
.wrap a,.list_wrap p{width: 145px;margin: 0 auto;}
.list_wrap a{display: block;height: 100px;margin-left: 24px;}
.list_wrap p{font-size:12px;color:#600;text-align: center;line-height: 14px;padding-top:10px ;}


#footer {height:302px;margin-top:32px;background: url("../design/footer_bc.png")repeat-x;margin-bottom: 0;}
.black_line{height: 60px;width: 960px;margin:0 auto;}
.safe li{float: left;}
/*如何插入一条文字*/
.black_line li .search{position: relative;left:40px;top:15px; }
.red_bottom{height: 242px;
    width:960px;margin: 0 auto;padding: 0;background: url("../design/red_mess.png");}
.red_bottom.email{width:100px ;height:16px ;color: #ffcc00;font-size:20px;position: absolute;bottom:100px;text-align: center;}
